#search-bar-entry {
  display: none;
  height: 0px;
  width: 0px;
}

#navbar > div:nth-child(2) > a:nth-child(1) {
  display: none;
  height: 0px;
  width: 0px;
}


#navbar > div:nth-child(2) > a:nth-child(2) {
  margin-left: 0;
}
